@{
    ViewData["Title"] = "Login to continue";
}

<div class="text-center">
    <div style="color: darkblue; font-weight: bold;">GEMS Cloud Web Application</div>
    <br />
    <div>
        <table>
            <tr>
                <td style="padding-left:413px">
                    <i class="glyphicon glyphicon-user" style="left:290px"></i>
                    <input type="text" id="txtUsername" style="width: 300px;background-color: lavender;" placeholder="User Name" />
                </td>
            </tr>
            <tr>
                <td style="padding-left:413px">
                    <i class="glyphicon glyphicon-lock" style="left:290px"></i>
                    <input type="password" id="txtPassword" style="width: 300px;background-color: lavender;" placeholder="Password" />
                </td>
            </tr>
            <tr>
                <td style="padding-left:431px">
                    <input type="button" id="btnSignin" value="Sign In" style="width: 300px;background-color: cornflowerblue;" />
                </td>
            </tr>
            <tr>
                <td style="padding-left:431px">
                    <input type="button" id="btnForgot" value="Forgot Password" style="width: 300px;background-color: white;" />
                </td>
            </tr>
        </table>
    </div>
</div>
